.main {
  border: 2px solid rgb(255, 255, 255);
  width: 550px;
  margin: auto;
  height: 387px;
  border-radius: 15px;
  margin-top: 80px;
}

.result {
  width: 542px;
  background-color: rgb(92, 92, 92);
  height: 53px;
  border-radius: 13px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.top {
  width: 600px;
  margin-top: 10px;
  background-color: rgb(40, 40, 40);
  height: 200px;
}

.btn {
  background-color: rgb(40, 40, 40);
  width: 122px;
  margin: 6px;
  height: 50px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
}

.halfbtn {
  margin: 6px;
  height: 50px;
  width: 119px;
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
}

.clearbtn {
  margin: 6px;
  height: 50px;
  width: 192px;
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
}

body {
  background-color: rgb(0, 0, 0);
}
